Checks: [
  # enabled checks:
  'bugprone*', 'clang-analyzer*', 'cert*',
  'cppcore*', 'misc*', 'performance*',
  'modernize*', 'google*', 'hicpp*',
  'llvm*', 'readability*',

  # disabled checks:
  '-*-avoid-c-arrays',
  '-*-braces-around-statements',
  '-bugprone-easily-swappable-parameters',
  '-bugprone-empty-catch',
  '-cppcoreguidelines-avoid-const-or-ref-data-members',
  '-cppcoreguidelines-avoid-magic-numbers',
  '-cppcoreguidelines-avoid-non-const-global-variables',
  '-cppcoreguidelines-owning-memory',
  '-cppcoreguidelines-pro-bounds-array-to-pointer-decay',
  '-cppcoreguidelines-pro-bounds-constant-array-index',
  '-cppcoreguidelines-pro-bounds-pointer-arithmetic',
  '-cppcoreguidelines-pro-type-reinterpret-cast',
  '-cppcoreguidelines-pro-type-static-cast-downcast',
  '-cppcoreguidelines-pro-type-union-access',
  '-cppcoreguidelines-pro-type-vararg',
  '-google-build-using-namespace',
  '-google-readability-todo',
  '-hicpp-no-array-decay',
  '-hicpp-signed-bitwise',
  '-hicpp-vararg',
  '-llvmlibc*',
  '-misc-non-private-member-variables-in-classes',
  '-misc-use-anonymous-namespace',
  '-modernize-use-trailing-return-type',
  '-*-namespace-comment*',
  '-*-objc-*',
  '-performance-no-int-to-ptr',
  '-readability-container-data-pointer',
  '-readability-function-cognitive-complexity',
  '-readability-identifier-length',
  '-readability-implicit-bool-conversion',
  '-readability-magic-numbers',
  '-readability-math-missing-parentheses',
  '-readability-named-parameter',
  '-*-special-member-functions']

CheckOptions:
  # classes
  - key:    readability-identifier-naming.AbstractClassCase
    value:  CamelCase
  - key:    readability-identifier-naming.ClassCase
    value:  CamelCase
  - key:    readability-identifier-naming.ClassConstantCase
    value:  UPPER_CASE
  - key:    readability-identifier-naming.ClassMemberCase
    value:  lower_case
  - key:    readability-identifier-naming.ClassMethodCase
    value:  lower_case
  - key:    readability-identifier-naming.ConceptCase
    value:  CamelCase
  - key:    readability-identifier-naming.ConstantCase
    value:  UPPER_CASE
  - key:    readability-identifier-naming.ConstantMemberCase
    value:  lower_case
  - key:    readability-identifier-naming.ConstantParameterCase
    value:  lower_case
  - key:    readability-identifier-naming.ConstantPointerParameterCase
    value:  lower_case
  - key:    readability-identifier-naming.ConstexprFunctionCase
    value:  lower_case
  - key:    readability-identifier-naming.ConstexprMethodCase
    value:  lower_case
  - key:    readability-identifier-naming.ConstexprVariableCase
    value:  UPPER_CASE
  - key:    readability-identifier-naming.EnumCase
    value:  CamelCase
  - key:    readability-identifier-naming.EnumConstantCase
    value:  UPPER_CASE
  - key:    readability-identifier-naming.FunctionCase
    value:  lower_case
  - key:    readability-identifier-naming.GlobalConstantCase
    value:  UPPER_CASE
  - key:    readability-identifier-naming.GlobalConstantPointerCase
    value:  UPPER_CASE
  - key:    readability-identifier-naming.GlobalFunctionCase
    value:  lower_case
  - key:    readability-identifier-naming.GlobalPointerCase
    value:  lower_case
  - key:    readability-identifier-naming.GlobalVariableCase
    value:  lower_case
  - key:    readability-identifier-naming.InlineNamespaceCase
    value:  CamelCase
  - key:    readability-identifier-naming.LocalConstantCase
    value:  lower_case
  - key:    readability-identifier-naming.LocalConstantPointerCase
    value:  lower_case
  - key:    readability-identifier-naming.LocalPointerCase
    value:  lower_case
  - key:    readability-identifier-naming.LocalVariableCase
    value:  lower_case
  - key:    readability-identifier-naming.MacroDefinitionCase
    value:  UPPER_CASE
  - key:    readability-identifier-naming.MemberCase
    value:  lower_case
  - key:    readability-identifier-naming.MethodCase
    value:  lower_case
  - key:    readability-identifier-naming.NamespaceCase
    value:  CamelCase
  - key:    readability-identifier-naming.NamespaceIgnoredRegexp
    value:  detail
  - key:    readability-identifier-naming.ParameterCase
    value:  lower_case
  - key:    readability-identifier-naming.ParameterPackCase
    value:  lower_case
  - key:    readability-identifier-naming.PointerParameterCase
    value:  lower_case
  - key:    readability-identifier-naming.PrivateMemberCase
    value:  lower_case
  - key:    readability-identifier-naming.PrivateMethodCase
    value:  lower_case
  - key:    readability-identifier-naming.ProtectedMemberCase
    value:  lower_case
  - key:    readability-identifier-naming.ProtectedMethodCase
    value:  lower_case
  - key:    readability-identifier-naming.PublicMemberCase
    value:  lower_case
  - key:    readability-identifier-naming.PublicMethodCase
    value:  lower_case
  - key:    readability-identifier-naming.ScopedEnumConstantCase
    value:  UPPER_CASE
  - key:    readability-identifier-naming.StaticConstantCase
    value:  UPPER_CASE
  - key:    readability-identifier-naming.StaticVariableCase
    value:  lower_case
  - key:    readability-identifier-naming.StructCase
    value:  CamelCase
  - key:    readability-identifier-naming.TemplateParameterCase
    value:  CamelCase
  - key:    readability-identifier-naming.TemplateTemplateParameterCase
    value:  CamelCase
  - key:    readability-identifier-naming.TypeAliasCase
    value:  CamelCase
  - key:    readability-identifier-naming.TypedefCase
    value:  CamelCase
  - key:    readability-identifier-naming.TypeTemplateParameterCase
    value:  CamelCase
  - key:    readability-identifier-naming.UnionCase
    value:  CamelCase
  - key:    readability-identifier-naming.ValueTemplateParameterCase
    value:  CamelCase
  - key:    readability-identifier-naming.VariableCase
    value:  lower_case
  - key:    readability-identifier-naming.VirtualMethodCase
    value:  lower_case
