[submodule "Dependencies/length-disassembler"]
	path = Dependencies/length-disassembler
	url = https://github.com/jovvik/length-disassembler.git
[submodule "Dependencies/SignatureScanner"]
	path = Dependencies/SignatureScanner
	url = https://github.com/Sumandora/SignatureScanner.git
